
<div class="row">
</div>
<div class="row">
  <div class="col s12">
    <div class="card-panel z-depth-3">
      <h2><%= @article.title %></h2>
     	<img src=<%=@article.picture%> style="width: 25%;margin-left:75%">
      <%= @article.revisions.last.body.html_safe %>
    </div>
  </div>
</div>
<% @article.categories.each do |cat| %>
	<a href="/categories/<%= cat.id %>">
	  <div class="chip z-depth-3">
	    <%= cat.title %>
	  </div>
	</a>
<% end %>

<% if logged_in? && admin_access? %>
	<%= form_for @article, url: appove_article_path do |f| %>
		<%= f.submit "Approve", :class => 'waves-effect waves-light btn red darken-4'%>
	<% end %>
<% end %>
